
.post-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #FF6737; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ffab91; 
  }
.dashboard{
    margin-top: 80px;
    position: absolute;
    z-index: -1;
}