
.post-items{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 
}
.dashboard{
  display: flex;
  flex-direction: column;
  width: 100vw;

  z-index: -1;
}
.footer-component{
  align-self: flex-end;

  margin-top: 20px;
  width: 100vw;
  
}