.reset-button{
    display: flex;
    justify-content: space-around;
    background-color: #FF6737;
    border-radius: 30px;
    align-items: center;
    width: 303px;
    height: 48px;
    border: none;
    margin-top: 15px;
    margin-bottom: 20px;
    -webkit-box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.25);
    text-decoration: none;
    color: white;
    font-family: 'Nunito', sans-serif;
    cursor:pointer;
}
.link{
    margin-top: 10px;
    text-decoration: none;
    color: #FF6737;
}
.login-input{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
    flex-direction: column;
}