.header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #FF6737;
    position: fixed;
    -webkit-box-shadow: 3px 10px 35px -7px rgba(0,0,0,0.39);
    -moz-box-shadow: 3px 10px 35px -7px rgba(0,0,0,0.39);
    box-shadow: 3px 10px 35px -7px rgba(0,0,0,0.39);
    color: white;
    justify-content: space-between;
}


.header-left{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.link-home{
    text-decoration: none;
    color: white;   
    margin-left: 5px;
}
.header-right{
    width: 150px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;

    
}
.profile{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profile-name{
    font-size: 13px;
  /* font-weight: 800; */
    color: white;
}
.logout-button ,.cart-button, .profile-button{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.header-center{
    display: flex;
    margin-left: 10px;
}