*{
    margin: 0;
    font-family: 'Nunito', sans-serif;

}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    
}
.login-input{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
    flex-direction: column;
}
.input-field{
    width: 303px;
    margin-bottom: 15px !important;
}
.link{
    text-decoration: none;
    color: #FF6737;
}
.login-button{
    display: flex;
    justify-content: space-around;
    background-color: #FF6737;
    border-radius: 30px;
    align-items: center;
    width: 303px;
    height: 48px;
    border: none;
    -webkit-box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.25);
    text-decoration: none;
    color: white;
    font-family: 'Nunito', sans-serif;
    cursor:pointer;
}
.hand-camera{
    position: relative;
    height: 25vh;
    top:0px;
    left: auto;
    }