*{
    font-family: 'Nunito', sans-serif;
}
.container{
    height: 100vh;
    display: flex;
    overflow: hidden;
}
h1 {
    margin-top: 65px;
}

.hand-camera{
position: relative;
height: 25vh;
top: auto;
left: auto;

}

.welcome-content{
    max-width: 457px;
    margin: 0 10px 10px 15px;
    
}
.helper-text{
    margin: 5px;
}
.login-button{
    display: flex;
    justify-content: space-around;
    background-color: #FF6737;
    border-radius: 30px;
    align-items: center;
    width: 303px;
    height: 48px;
    -webkit-box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.25);
    text-decoration: none;
    color: white;
    font-family: 'Nunito', sans-serif;

}